.container-btn {
    display: flex;
    gap: 1rem;
    margin: auto;
    justify-content: center;
}

.btn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: -0.5px;
    font-size: 1rem;
    padding: 5px 10px;
    cursor: pointer;
}

p { 
    text-align: center;
}

.inverse {
    transform: rotate(180deg);
}
.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.gray {
    color: gray;
}